body {
	/* This is from Google Fonts: https://fonts.google.com */
	font-family: 'Cormorant Garamond', serif;

	background-color: wheat;
	color: rgba(0, 0, 0, 0.75); /* This is semi-transparent black. */
	font-size: 150%;
	line-height: 1;
	margin: 72px 24px; /* 72 is top/bottom, 24 for right/left. */
}

section {
	margin: 0 auto; /* This centers the sections when they are at the max-width. */
	max-width: 980px;
}

/* Space between lower sections. */
section:not(:first-child) {
	margin-top: 96px;
}

h1 {
	font-size: 350%;
	letter-spacing: 0.25em; /* The em unit here is relative to the type size. */
	text-transform: uppercase;
}

/* This targets spans that are descendants of h1 */
h1 span {
	font-size: 50%;
	font-style: italic;
	letter-spacing: initial; /* These reset the inherited values from above. */
	text-transform: initial;
}

blockquote {
	font-size: 150%;
	margin-top: 96px;
	padding-left: 180px;
}

blockquote span {
	font-size: 200%;
	font-style: italic;
}

blockquote em {
	font-size: 66%;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

p {
	text-indent: 48px;
	max-width: 75ch; /* Control the line length with character units. */
}

p:first-of-type {
	margin-top: 48px;
}

p em {
	/* Fake some old-timey small caps. */
	font-size: 66%;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

/* Targets third paragraph in a row. */
p + p + p {
	margin-top: 72px;
	margin-left: auto;
	font-style: italic;
}

hr {
	border: rgba(0, 0, 0, 0.75) solid 2px;
	margin-bottom: 40px;
	margin-top: 120px;
	max-width: 320px;
}


img {
	display: block; /* Images are inline, by default. */
	margin: 80px auto;
	max-width: 36px;
}

/* I added a class to one image to target it separately. */
.whale {
	margin-right: initial;
	max-width: 800px;
}
