body {
	/* This is from Google Fonts: https://fonts.google.com */
	font-family: 'Cormorant Garamond', serif;

	background-color: wheat; /* CSS has some named colors: https://htmlcolorcodes.com/color-names/ */
	color: rgba(0, 0, 0, 0.75); /* But you can also specify hex or RGB values. This is semi-transparent black. */
	font-size: 150%; /* Setting a larger base size. */
	line-height: 1; /* This is like “leading” in CSS. */
	margin: 72px 24px; /* When you have two values, the first is top/bottom, second is right/left. */
}

section {
	margin: 0 auto; /* This centers the sections when they are at the max-width. */
	max-width: 980px; /* Caps the width. */
}

/* Space between lower sections. */
section:not(:first-child) {
	margin-top: 96px; /* There are also direction-specific property names. */
}

h1 {
	font-size: 350%;
	letter-spacing: 0.25em; /* The em unit here is relative to the type size. */
	text-transform: uppercase;
}

/* This targets spans that are descendants of h1. These are called “combinators”. */
h1 span {
	font-size: 50%;
	font-style: italic;
	letter-spacing: initial; /* “initial” resets the inherited values from above. */
	text-transform: initial;
}

blockquote {
	font-size: 150%;
	margin-top: 96px;
	padding-left: 180px; /* Padding is “inside” and element, vs. margin “outside”. */
}

blockquote span {
	font-size: 200%;
	font-style: italic;
}

p {
	text-indent: 48px;
	max-width: 75ch; /* Control the line length with character units. */
}

p:first-of-type {
	margin-top: 48px;
}

/* You can use a comma to apply a CSS rule to multiple selectors! */
p em,
blockquote em {
	/* Fake some old-timey small caps. */
	font-size: 66%;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

/* Targets third paragraph in a row. */
p + p + p {
	margin-top: 72px;
	margin-left: auto;
	font-style: italic;
}

hr {
	border: rgba(0, 0, 0, 0.75) solid 2px; /* The color, style, and size of the line. */
	margin-bottom: 40px;
	margin-top: 120px;
	max-width: 320px;
}


img {
	display: block; /* Images are inline, by default. */
	margin: 80px auto; /* 80 above/below, centered left/right. */
	max-width: 36px;
}

/* I added a class to one image to target it separately. */
.whale {
	margin-right: initial; /* This reset will make the whale go to the right edge. */
	max-width: 800px;
}

a {
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

a img {
	display: inline; /* To get the hand next to the text, take it back to inline.*/
	height: 24px;
	margin: initial; /* Get rid of the margin we applied earlier to all images. */
	margin-right: 12px; /* This is lower, so applies after the initial/reset. */
}

